<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    

    
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    
    <link rel="stylesheet" href="{{url_for('static',filename='css/Login-Form-Dark.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}"  />

    
</head>

<body style="background: #212529;">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background-color: #e9ecef ;" id="mainNav">
        <div class="container px-4">
            <a class="navbar-brand" ><img src="{{url_for('static',filename='img/ReDX-transparent.png')}} " style="height:10% ; width:10% ;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                
            </div>
        </div>
        <div class="container px-4">
            <a class="navbar-brand" >Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                
            </div>
        </div>
        
    </nav>

    <div class="login-dark" style="height: 695px;">
        <form action="#" method="POST">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="username" name="username" placeholder="User Name "></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"  ><button class="btn btn-primary btn-block"  >Connect</button></div>
            <a class="forgot" href="/register">Sign Up</a></form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- Footer-->
    <footer  style="
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: #e9ecef ;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    


">
        <div class="container px-4"><p class="m-0 text-center text-white" >Copyright &copy; ReDX Technologies</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{url_for('static',filename='js/scripts.js')}}"></script>
</body>

</html>